<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myDelivery</title>
</head>
<body>
<table>
  <tr>
    <td>
      배송코드
    </td>
    <td>
      배송상품(list)
    </td>
    <td>
      발신자아이디
    </td>
    <td>
      송신주소
    </td>
    <td>
      배송상태
    </td>
    <td>
      전화번호
    </td>
    <td>
      수신자
    </td>
    <td>
      수량
    </td>
    <td>
      취소
    </td>
  </tr>
  <tr th:each="delivery: ${deliveries}">
    <td><a href="main.html"
           th:href="@{/shop/mypage/order/{deliveryCode}(deliveryCode=${delivery.deliveryCode})}"
           th:text="${delivery.deliveryCode}"></a></td>
    <td th:text="${delivery.items}" ></td>
    <td th:text="${delivery.memberId}"></td>
    <td th:text="${delivery.address}"></td>
    <td th:text="${delivery.state}"></td>
    <td th:text="${delivery.phoneNumber}"></td>
    <td th:text="${delivery.name}"></td>
    <td th:text="${delivery.quantity}"></td>
    <td> <a th:href="@{/shop/mypage/order/cancel/{deliveryCode}(deliveryCode=${delivery.deliveryCode})}"> 주문취소</a></td>
</table>
</body>
</html>