<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
</head>
<body>
  <form action="main.html" th:action="sign-up" method="post">
    <div>
      id: <input type="text" id="memberId" name="memberId">
    </div>

    <div>
      pw: <input type="text" id="password" name="password">
    </div>

    <div> 성별:
      <input type="radio" name="gender" value="남" checked>
      <input type="radio" name="gender" value="여">
    </div>

    <div>휴대전화 번호:
      <input type="tel" name="phoneNumber" id="phoneNumber">
    </div>

    <div>이메일:
      <input type="email" name="email" id="email">
    </div>

    <button>
      회원가입
    </button>
  </form>

</body>
</html>